@tailwind base;
@tailwind components;
@tailwind utilities;
input::-ms-reveal,
input::-ms-clear {
  display: none;
}
input {
  outline: none;
}
.scroll-hidden {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.scroll-hidden::-webkit-scrollbar {
  display: none;
}
.sidebar:hover {
  border-right: 4px solid white;
  border-radius: 4px;
  background: #A273FF;
  opacity: 0.70;
}