@import "reset";
@tailwind base;
@tailwind components;
@tailwind utilities;
@import "content";
@layer base {
  input {
    @apply outline-none;
  }
}
input:focus + .error-input {
  display: none;
}
.quill {
  @apply border border-primary rounded-xl;
  padding: 15px 25px;
  .ql-toolbar.ql-snow {
    border: none;
    @apply bg-primary bg-opacity-10 rounded-xl py-3 px-5 inline-block;
  }
  .ql-container.ql-snow,
  .ql-editor {
    @apply border-none text-sm text-primary font-medium;
  }
  .ql-editor {
    @apply pt-10;

  }
  .ql-editor.ql-blank::before {
    @apply text-sm not-italic text-primary;
  }
  & > * {
    scroll-snap-align: start;
  }
}
.scroll-hidden {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.scroll-hidden::-webkit-scrollbar {
  display: none;
}
.sidebar:hover {
  border-right: 4px solid white;
  border-radius: 4px;
  background: #A273FF;
  opacity: 0.70;
}
.file-types {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}
body {
  .kiHXWb {
    @apply border border-primary max-w-[1000px] p-10 mx-auto w-full border-solid rounded-xl;
  }
  .fVfcRr > span {
    @apply font-medium text-base ml-4 flex items-center
  }
  .cXBrtO span {
    @apply hidden
  }
  .eWRUdH {
    @apply bg-primary bg-opacity-10 text-primary
  }
}
